body {
  margin: 0px;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#city-name {
  padding-left: 20px;
  font-size: 15px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}


